.App {
  text-align: center;
  width: 80vw;
  margin: auto;
}
.header {
  margin-top: 3vh;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 10vw;
}
.score {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
h2 {
  padding: 0;
  margin: 1%;
}
h3 {
  padding: 0;
  margin: 1%;
  width: 5vh;
}
.button1 {
  width: 3vw;
}
.cards {
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
}
.card {
  margin: 2%;
}
img {
  width: 15vw;
}
.add {
  height: 3vh;
  padding: auto;
  margin: auto 0;
}
.players {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.score1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.players-score {
  width: 100px;
}